.travelData .title h4 {
font-weight: 400;
line-height: 1.25;
margin: 0.25em 0;
text-transform: uppercase;
color: #166C8D;
font-size: 1em;
}

.container {
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
overflow: auto;
background: #FAFAFA;
position: relative;
}

.travel.container {
overflow: visible;
}

.travel .show-more-span {
color: #5A5A5A;
font-weight: 200;
font-size: 2em;
text-align: center;
cursor: pointer;
display: none;
padding: 0em 10em;
}

.span_8 {
width: 65.83333%;
border-left-width: 0;
padding: 0 1.5%;
margin-left: 2.5%;
}

.row:after {
visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
}

.travel.container>.row:last-child {
margin-bottom: 0;
}

.row .col.span_8 {
min-height: 570px;
}

.row .col:first-child {
margin-left: 0;
}

.travel .show-more-span span {
background-size: 17px auto;
margin-right: 3px;
top: 6px;
background-image: url('../images/icon-refresh.svg');
background-repeat: no-repeat;
background-position: left top;
display: inline-block;
height: 20px;
width: 20px;
position: relative;
}

.title {
background-image: url("../images/icon-accordion-arrow.svg");
background-position: right 2px;
background-repeat: no-repeat;
background-size: 80px;
position: relative;
border-top: 1px solid #E7E5E4;
margin-bottom: 0;
padding: 10px 0;
}

.span_10 {
width: 82.91667%;
border-left-width: 0;
padding: 0 1.5%;
margin-left: 2.5%;
}

.site {
	background:rgb(63, 138, 58);
	height:75px;
    text-align:center;
}

.site span {
	position:absolute;
	color: rgb(219, 145, 49);
}

.col.span_4 {
position: relative;
}

.span_4 {
	width: 31.66667%;
border-left-width: 0;
padding: 0 1.5%;
margin-left: 2.5%;
}

.col {
border: 0px solid rgba(0, 0, 0, 0);
float: left;
box-sizing: border-box;
background-clip: padding-box !important;
}

.hotelId {
border-right: 1px solid #D4D4D4;
float: left;
margin: 0;
margin-right: 1.25em;
padding: 0.75em 1em 0.75em 0;
color: #5A5A5A;
}

::selection {
    background: #166C8D;
    color: #FFFFFF;
}

.travel .title .mobileHide.loc {
border-right: 0;
color: #757575;
float: right;
margin-right: 4em;
padding-right: 0;
}

.travel .title .mobileHide {
border-right: 1px solid #D4D4D4;
float: left;
margin: 3px;
margin-right: 1.25em;
padding: 0.75em 1em 0.75em 0;
padding-right: 35px;
}

.travel .title h4 .hotelName {
color: red;
font-weight: 400;
line-height: 2.25;
margin: 0.25em 0;
text-transform: uppercase;
font-size: 1em;
}

.travel .title .col.span_12 {
padding: 0 0.2em;
}

.travel .title>.col {
background: none;
width: 100%;
}

.travelData {
	border-bottom: 1px solid #E7E5E4;
}

.travelData .title:hover,.travelData .desc:hover {
cursor: pointer;
cursor: hand;
background-color: #FFFFFF;
}

/* .travel .travelData .title.active:hover {
background-image: url("../images/icon-accordion-arrow.svg");
background-position: right -76px;
background-repeat: no-repeat;
background-size: 80px;
cursor: pointer;
cursor: hand;
} */

.travel .travelData .title.active {
background-position-x: 100% !important;
color: #5A5A5A;
background : #FFFFFF;
}

.travel .travelData .title.active {
background-image: url("../images/icon-accordion-arrow.svg") !important;
background-repeat: no-repeat;
background-size: 80px;
}

.travel .travelData .title+.desc {
opacity: 0;
padding-left: 8.125em;
}

.travel .travelData .desc {
box-shadow: none;
}

.travelData .desc {
-webkit-transition: all, 300ms;
-moz-transition: all, 300ms;
transition: all, 300ms;
box-shadow: inset 0 0 0 0 #999999, inset 0 -8px 10px -10px #999999;
background: #FAFAFA;
max-height: 0;
overflow: hidden;
padding: 0;
margin-bottom: -1px;
padding: 10px -1px;
}

.travelData .title {
margin-bottom: 0;
padding: 20px 0;
}

.travel .travelData .desc p {
margin-bottom: 1em;
margin-top: 0;
}

.travelData .desc p {
font-weight: 200;
margin-bottom: 0;
}

p, label, em {
color: #5A5A5A;
}

.row {
margin-bottom: 1em;
}

.span_12 {
margin-left: 0;
width: 100%;
}

.travel .travelData .tasks:before, .travel .travelData .tasks:after {
content: " ";
display: table;
}

.travel .travelData .tasks:after {
clear: both;
}

.travel .travelData .tasks .left, .travel .travelData .tasks .middle, .travel .travelData .tasks .right {
float: left;
text-align: center;
margin: 15px 0;
width: 51%;
}

.travel .travelData .tasks {
border-top: 1px solid #D4D4D4;
margin-bottom: -2em;
color: #757575;
cursor:default;
}

.travel .travelData .title.active+.desc {
opacity: 1;
padding-left: 5.125em;
}

.travel .travelData .title.active+.desc {
overflow: visible;
padding: 1em 0;
}

.travelData .title.active+.desc {
background: #FFFFFF;
max-height: 1000px;
padding: 0 0 2em;
}

.travel .show-more {
border-top: none;
margin-bottom: 0;
border-bottom: 1px solid #E7E5E4;
}

.show-more {
border-top: 1px solid #E5E5E5;
margin-bottom: 0;
}

.travel .no-show-more {
color: #5A5A5A;
font-weight: 200;
font-size: 1.5em;
text-align: center;
cursor: auto;
display: block;
cursor: auto;
padding: 1em 13em;
}

.show-more .span_12 {
	height:100px;
	padding-top:15px;
}

.load-overlay {
background: #fff;
position: fixed;
top: 0;
left: 0;
display: none;
z-index: 10;
width: 100%;
height: 100%;
overflow: hidden;
opacity: 0.8;
}

.load-overlay-container {
position: relative;
height: 100%;
}

label, em {
color: #5A5A5A;
}

p {
color: #5A5A5A;
margin: 1em 0;
}

.load-overlay-container span {
background-image: url("../images/icon-loading.svg");
background-position: left top;
background-repeat: no-repeat;
background-size: 2em;
width: 200px;
margin: auto;
overflow: auto;
padding-left: 2.5em;
display: table;
height: auto;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
font-size: 1.3em;
line-height: 2em;
}

.travel .travelData .title.active h4 {
font-weight: 400;
}

.travelData .title.active {
color: #5A5A5A;
}

.hide {
	display:none;
}

.division p, .hotelimage p {
	color: rgb(99, 48, 225);
}

.tasks .hotelimage {
	margin:15px;
}

.tasks .head span {
	color : rgb(255, 159, 0);
}

.tasks .head {
	font-weight:bold !important;
}

.container input {
background: #FAFAFA;
}

input, button, .filter ul li, select {
-webkit-appearance: none;
border: 3px solid #D4D4D4;
border-radius: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
color: #5A5A5A;
display: block;
font-family: "EMprint", Helvetica Neue, Helvetica, Arial, Lucida Grande,
 sans-serif;
font-size: 1em;
font-weight: 200;
margin-bottom: 1em;
padding: 1em 1em;
width: 100%;
}

button, input {
line-height: normal;
}

button, input{
font-size: 100%;
margin: 0;
vertical-align: baseline;
}

html, button, input, select {
font-family: sans-serif;
}

h4.bb {
border-bottom: 1px solid #D4D4D4;
}

h4 {
font-size: 0.75em;
font-weight: 700;
margin-bottom: 0;
text-transform: uppercase;
}

h4 {
font-size: 1em;
margin: 1.33em 0;
}

.sidebar .travelData {
border-bottom: 0;
}

.travel .sidebar .travelData .title.active, .travel .sidebar .travelData .title.active:hover {
background-position: right -81px;
}

.sidebar .travelData .title {
border-top: 0;
}

.travel .sidebar .travelData .title.active+.desc {
padding: 0;
background:transparent;
}

a.clearFilter {
cursor: pointer;
}

.clearFilter {
display: none;
margin: 6px 60px;
float: right;
}

a {
-ms-behavior: url(/ie/backgroundsize.min.htc);
color: #0e68b0;
text-decoration: none;
}

.travel .sidebar .travelData .title p {
margin: 0.5em 0;
}

.travelData.hotelFilter .title,.travelData.hotelFilter .title.active {
background-color: transparent;
}

.container .heading {
	padding-left: 703px;
}

.travel .hotelFilter #rating,.travel .hotelFilter #latitude,.travel .hotelFilter #longitude {
	border:0; 
	color:#f6931f; 
	font-weight:bold;
}

input#rating,input#latitude,input#longitude {
	display: inline-block;
    width: 57%;
}

.sliderContainer label {
	color:red;
}
